.list-cell:filled:selected:focused, .contact-list-cell:filled:selected {
    -fx-background-color:    #c6c6c6;
    -fx-text-fill: "Black";
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color:    #c6c6c6;
    -fx-text-fill: "Black";
}

.list-cell:filled:hover {
    -fx-background-color:    #c6c6c6;
    -fx-text-fill:  "Black";
}
.list-view .list-cell:odd {
-fx-background-color:   #c6c6c6;
-fx-text-fill: "Black";
}
